- cache "welcome" do
  = landing_hero title: t(:title, scope: :startpage), image: "startpage/main.jpg" do
    markdown:
      The Laravel Toolbox is a catalog of all [Composer packages](https://packagist.org) that keeps track of popularity and health metrics to help you choose a reliable library

    .columns
      .column
        a.button.is-primary.is-fullwidth href=categories_path
          span Browse by category

      .column
        = render partial: "search_form"

  section.section: .container
    .landing-features
      = landing_feature title: "Categories", path: categories_path do
        article
          markdown:
            Curated groups of libraries that solve the same problem, so you can compare like with like.

      = landing_feature title: "Search", path: search_path do
        article
          markdown:
            Every package published on Packagist, searchable beyond our categories.

      = landing_feature title: "Project Popularity", path: trends_path do
        article
          markdown:
            Ranked by Composer installs and GitHub stars, so you can see how many people actually rely on a library.

      = landing_feature title: "Project Health", path: page_path("docs/index") do
        article
          markdown:
            Release cadence, commit activity and open issues, condensed into one colour-coded indicator.

  - if @featured_categories.any?
    section.section.popular-categories: .container
      / - description = t(:stats, scope: :startpage, projects_with_categories: @stats.projects_with_categories_count, categories: @stats.categories_count, packages: @stats.packages_count)
      = section_heading "Popular Categories", help_path: "docs/features/categories" do
        a.button href=categories_path
          span Browse all categories

      .columns.is-multiline
        - @featured_categories.each do |category|
          .category-cards.four
            = category_card category

  - if @trending_projects.any?
    section.section.trending-projects: .container
      = section_heading "Trending Projects"
        a.button href=trends_path
          span.icon: i.fa.fa-bars
          span See all trending projects

      .columns.is-multiline
        - @trending_projects.each do |trend|
          .category-cards.four
            = trending_project_card trend

