= documentation_page "Bugfix Forks" do
  article.blog-post
    markdown:
      Nowadays it's easy to **install a patched package version straight from a git repository**
      by adding a [VCS repository][vcs-repos] to your application's `composer.json`, but this is still
      **more involved than pulling a regular release** from Packagist.

      If you **run into an issue with a package** you are using and you or somebody else
      creates a bugfix for the problem, **you have to wait for the library maintainers to publish
      a new release** to Packagist **before you can cleanly upgrade your application**.

      To **get around this issue** many developers adopted a pattern of **publishing a namespaced fork
      including a bugfix** to Packagist **until the fix is merged and released upstream**.

      Unfortunately the widespread adoption of this practice leads to a **large number of orphaned packages**
      that usually have only a single or at most a handful of releases. Additionally these **forked packages
      often retain** their upstream **GitHub source code url**, so on the Laravel Toolbox **these forks
      would receive a high popularity ranking**.

      Because of this, the Laravel Toolbox tries to [identify these projects based on common patterns][fork-detector-src].

      If a **project is flagged as a bugfix fork** by default it **does not show up in search results**.
      However, you can **re-enable inclusion of bugfix forks** from within the **search navigation** if
      you are missing a library.

      If you spot a **library that is flagged as a bugfix fork wrongly** please
      [report this as an issue on the Laravel Toolbox issue tracker](https://github.com/laraveltoolbox/laraveltoolbox/issues).

      [vcs-repos]: https://getcomposer.org/doc/05-repositories.md#vcs
      [fork-detector-src]: https://github.com/laraveltoolbox/laraveltoolbox/blob/main/app/models/project/fork_detector.rb
