.metrics
  .label
    span &nbsp;
    strong
      | Popularity
  .column: .metrics
    = metrics_row project, :package_downloads, :github_repo_stargazers_count, :github_repo_forks_count, :github_repo_watchers_count

- if project.package_releases_count
  .metrics
    .label
      span &nbsp;
      strong
        | Releases
    .column: .metrics
      = metrics_row project, :package_current_version, :package_releases_count, :package_first_release_on, :package_latest_release_on

- if local_assigns[:expanded_view]
  - if project.github_repo_issue_closure_rate
    .metrics
      .label
        span &nbsp;
        strong
          | Issues
      .column: .metrics
        = metrics_row project, :github_repo_open_issues_count, :github_repo_closed_issues_count, :github_repo_total_issues_count, :github_repo_issue_closure_rate

  - if project.github_repo_pull_request_acceptance_rate
    .metrics
      .label
        span &nbsp;
        strong
          | Pull Requests
      .column: .metrics
        = metrics_row project, :github_repo_open_pull_requests_count, :github_repo_closed_pull_requests_count, :github_repo_merged_pull_requests_count, :github_repo_pull_request_acceptance_rate

  .metrics
    .label
      span &nbsp;
      strong
        | Development
    .column: .metrics
      = metrics_row project, :github_repo_primary_language, :package_licenses, :github_repo_average_recent_committed_at, :package_reverse_dependencies_count

- else
  .metrics
    .label
      span &nbsp;
      strong
        | Activity
    .column: .metrics
      = metrics_row project, :github_repo_issue_closure_rate, :github_repo_pull_request_acceptance_rate, :github_repo_average_recent_committed_at, :package_reverse_dependencies_count

  = project_details_buttons project
