.hero
  section.section: .container
    h2
      a href=categories_path Category Overview
    p.subtitle
      |
        To give you an overview of what open source libraries are available for a given task we group projects for common problems into categories. The catalog itself is available for contributions on <strong><a href="https://github.com/laraveltoolbox/catalog">GitHub</a></strong>.

section.section
  .container
    .columns.is-multiline
      - @groups.each do |group|
        .category-group
          h3.is-size-4
            = group.name
          ul.category-list
            - group.categories.each do |category|
              li= link_to category.name, category
