= render "metric_numeric_documentation", table: :packages, column: :reverse_dependencies_count
  .narrow-column= project_ranking "Most reverse dependencies", table: :packages, column: :reverse_dependencies_count

