= render "metric_date_documentation", table: :packages, column: :latest_release_on do
  / There are some awkward incorrect past / future dates for some packages in the registry
  - scope = Project.for_display.where("packages.first_release_on >= ? AND packages.first_release_on <= ?", Date.new(2004), Time.current)
  .columns
    .column
      = project_ranking "Most recently updated packages", table: :packages, column: :latest_release_on, scope: scope
    .column
      = project_ranking "Longest unreleased packages", table: :packages, column: :latest_release_on, direction: "ASC", scope: scope

